<div class="container mt-4">
    <div class="card p-4 shadow">
      <h3 class="text-center">Receiving From Other Branch</h3>
      <form>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="loadingPlace">Loading Place (Source Branch)</label>
            <select class="form-control" id="loadingPlace">
              <option>Select Branch</option>
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="vehicleNo">Vehicle No</label>
            <input type="text" class="form-control" id="vehicleNo">
          </div>
          <div class="col-md-4 mb-3">
            <label for="receivingDate">Receiving Date</label>
            <input type="date" class="form-control" id="receivingDate">
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="driverName">Driver Name</label>
            <input type="text" class="form-control" id="driverName">
          </div>
          <div class="col-md-4 mb-3">
            <label for="sealNo">Seal No</label>
            <input type="text" class="form-control" id="sealNo">
          </div>
        </div>
  
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-primary">To Be Received</button>
          <button type="reset" class="btn btn-danger">Reset</button>
          <button type="button" class="btn btn-secondary">Go To Receiving</button>
        </div>
      </form>
    </div>
  </div>
  
