<div class="container">
     <h2 class="title">Operation Status Update</h2>
     <div class="content">
     <div class="form-container">

        <h4>Consignment</h4>
        <div class="date-container">
            <div class="date-input">
            <label>From Date</label>
            <input type="date" id="fromDate"/>
            </div>
            <div class="date-input" id="toDate">
            <label>To Date</label>
            <input type="date" id="toDate"/>
            </div>
            <div class="sbutton">
            <button class="search-btn" onclick="setCurrentDate()">Search</button>
            </div>
        </div>

        <div class="table-container">
            <table>
                <tr>
                        <th>S.No</th>
                        <th>Consignment_No</th>
                        <th>Shipment No</th>
                        <th>Destination Port</th>
                        <th>Origin Warehouse</th>
                        <th>Total Wgt</th>
                        <th>Total Carton</th>
                </tr>
                <tbody>
                        <tr><td>1</td><td>EK123456789IN</td><td>JJD00999999</td><td>London</td><td>PARIS</td><td>56KG</td><td>78</td></tr>
                        <tr><td>2</td><td>EE987654321IN</td><td>0001122334</td><td>New York</td><td>FRENCH</td><td>190KG</td><td>12</td></tr>
                        <tr><td>3</td><td>EK123456789IN</td><td>JVGL123456</td><td>London</td><td>GERMANY</td><td>200KG</td><td>03</td></tr>
                        <tr><td>4</td><td>EM001234567IN</td><td>3S12345678</td><td>New York</td><td>ENGLAND</td><td>100KG</td><td>40</td></tr>
                        <tr><td>5</td><td>EA999999999IN</td><td>1AB123456</td><td>London</td><td>SWITZERLAND</td><td>78KG</td><td>23</td></tr>
                        <tr><td>6</td><td>ER555555555IN</td><td>ABC123456</td><td>New York</td><td>NETHERLAND</td><td>45KG</td><td>25</td></tr>
                        <tr><td>7</td><td>EP112233444IN</td><td>DGBV246UJ</td><td>London</td><td>DELHI</td><td>50KG</td><td>56</td></tr>
                        <tr><td>8</td><td>EC667788999IN</td><td>OGFT567B0</td><td>New York</td><td>INDONESIA</td><td>60KG</td><td>8</td></tr>
                        <tr><td>9</td><td>ES334455666IN</td><td>FGVFVVV46</td><td>London</td><td>ENGLAND</td><td>90KG</td><td>39</td></tr>
                        <tr><td>10</td><td>EB889900111IN</td><td>XG3487VF</td><td>New York</td><td>PARIS</td><td>250KG</td><td>10</td></tr>
                        <tr><td>11</td><td>ED778899000IN</td><td>D5598BH0</td><td>London</td><td>CHINA</td><td>150KG</td><td>11</td></tr>
                        <tr><td>12</td><td>EE987654321IN</td><td>0001122334</td><td>New York</td><td>FRENCH</td><td>190KG</td><td>12</td></tr>
                        <tr><td>13</td><td>EK123456789IN</td><td>JVGL123456</td><td>London</td><td>GERMANY</td><td>200KG</td><td>03</td></tr>
                        <tr><td>14</td><td>EM001234567IN</td><td>3S12345678</td><td>New York</td><td>ENGLAND</td><td>100KG</td><td>40</td></tr>
                        <tr><td>15</td><td>EA999999999IN</td><td>1AB123456</td><td>London</td><td>SWITZERLAND</td><td>78KG</td><td>23</td></tr>
                        <tr><td>16</td><td>ER555555555IN</td><td>ABC123456</td><td>New York</td><td>NETHERLAND</td><td>45KG</td><td>25</td></tr>
                        <tr><td>17</td><td>EP112233444IN</td><td>DGBV246UJ</td><td>London</td><td>DELHI</td><td>50KG</td><td>56</td></tr>
                        <tr><td>18</td><td>EC667788999IN</td><td>OGFT567B0</td><td>New York</td><td>INDONESIA</td><td>60KG</td><td>8</td></tr>
                        <tr><td>19</td><td>ES334455666IN</td><td>FGVFVVV46</td><td>London</td><td>ENGLAND</td><td>90KG</td><td>39</td></tr>
                        <tr><td>20</td><td>EB889900111IN</td><td>XG3487VF</td><td>New York</td><td>PARIS</td><td>250KG</td><td>10</td></tr>
                        <tr><td>21</td><td>ED778899000IN</td><td>D5598BH0</td><td>London</td><td>CHINA</td><td>150KG</td><td>11</td></tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function setCurrentDate(){
            let today = newDate().toISOString().split('T')[0];
            document.getElementById("fromDate").value = today;
            document.getElementById("toDate").value = today;
        }
    </script>
    

           <div class="form-container2">
           <div class="background">
           <label>Consignment No</label>
           <input type="text" class="field" (keydown.enter)="moveToNext($event)" />
           <label>Operation Status</label>
           <select class="select-container field"  class="field" (keydown.enter)="moveToNext($event)">
                <option value="">-select-</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select>

            <label>Operation Date</label>
            <input type="date" class="field" (keydown.enter)="moveToNext($event)" />
            <label>Remarks</label>
            <input type="text" class="field" (keydown.enter)="moveToNext($event)" />


        <div class="btn">
            <button class="Update-btn">Update</button>
            <button class="delete-btn"(click)="deleteInputs()">Delete</button>
            <button class="cancel-btn">Cancel</button>
        </div>
        </div>
         <div class="table-container2">
                <table>
                     <tr>
                        <th>S.No</th>
                        <th>Operation Date</th>
                        <th>HAWB Status</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                        <tr><td>1</td><td>18-3-2025</td><td>delivering</td><td><button class="Update-btn">edit</button></td></tr>
                        <tr><td>2</td><td>17-3-2025</td><td>packing</td><td><button class="Update-btn">edit</button></td></tr>
                        <tr><td>3</td><td>16-3-2025</td><td>consume</td><td><button class="Update-btn">edit</button></td></tr>
                    
                        
                    </tbody>
                    
                </table>
            </div>

        </div>
        </div>
    </div>
